:root {
  --couleur-primaire: #184E6C;   /* Bleu sombre */
  --couleur-secondaire: #387EA2; /* bleu*/
  --couleur-tertiaire: #5BA3C6;       /* bleu soutien */
  --couleur-clair: #9BCBE5;  
  --couleur-fond: #DDECF6;    /* bleu clair */
}
.fun-font {
    font-family: 'Fredoka One', cursive; /* tu peux changer pour Comic Neue, etc. */
  }

body {
  background-color: var(--couleur-fond);
  color: var(--couleur-texte);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.container{
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  padding-top: 140px;

  background-color: var(--couleur-fond);
}

.bg-dark{
  background-color: var(--couleur-primaire) !important;
}

.card {
  border: 3px solid var(--couleur-secondaire); /* doré élégant */
  border-radius: 0px !important;
  overflow: hidden;
  background-color: white;
  object-fit: cover;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;

 
}
.card-img-top {
  width: 100%;
  height: auto;
  display: block;
  padding: 12px;
  background-color: #fff;
}

.masonry {
  column-count: 3;          /* nombre de colonnes */
  column-gap: 1.5rem;       /* espace entre colonnes */
}

.masonry .col {
  break-inside: avoid;      /* empêche les coupures */
  margin-bottom: 1.5rem;
}

.btn {
  border-color: #184E6C;
  color: var(--couleur-primaire);
  border-radius: 0px !important;
  padding: 10px 20px;
  margin: 5px;
}
.filter-btn.active {
  background-color: var(--couleur-primaire)!important;
  color: white;
  border-color: var(--couleur-tertiaire)!important;
}

.filter-btn:focus{
   border-color: var(--couleur-tertiaire)!important;
    box-shadow: none !important;
  outline: none !important;
}

.filter-btn:hover {
  background-color: var(--couleur-secondaire); 
  color: white;
  border-color: var(--couleur-secondaire);
  transform: scale(1.05);  
}


.filter-btn {
  transition: all 0.3s ease;
}


.img-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.img-modal img {
  max-width: 90%;
  max-height: 90%;
}



@media (max-width: 992px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 576px) {
  .masonry {
    column-count: 1;
  }
}

